@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

:root {
	--primary-color: #ff0000;
	--secondary-color: #ffffff;
	--text-color: #fff;
	--background-color: #080613;
}

html {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

body {
	font-family: "Plus Jakarta Sans", sans-serif;
	font-optical-sizing: auto;
	margin: 0;
	padding: 0;
	background-color: var(--background-color);
	color: var(--text-color);
}

.MuiOutlinedInput-notchedOutline {
	border-color: transparent !important;
}

.MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
	border-color: transparent !important;
}

.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
	border-color: transparent !important;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 20px;
}

/* Add more global styles as needed */

a {
	text-decoration: none;
}

.block {
	display: block;
	width: 100%;
}
